.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0);
    padding-left: var(--bs-gutter-x, 0);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
    width: 178px;
}


.btn-custom {
    background-color: #02c0ce;
    border-color: #02c0ce;
}

.btn-custom, .btn-danger, .btn-info, .btn-inverse, .btn-pink, .btn-primary, .btn-purple, .btn-success, .btn-warning {
    color: #fff!important;
}

#id_gender {
    display: flex;
    gap: 10px;
}

.btn_cus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}